{% extends "base.html" %}

{% block title %}Service Review{% endblock %}

{% block content %}
<h1>Applicant: {{ service.applicant.user.username }}</h1>
    <p>Applicant Type: {{ service.applicant.applicant_type }}</p>
    <p>Category: {{ service.market}}</p>
    <p>Type: {{ service.type}}</p>
    <p>Fee: {{ service.fee}}</p>
    <p>Fixed: {{ service.fixed}}</p>
    <a href="{% url 'service_approve' service.pk %}">Approve</a>
    <a href="{% url 'service_reject' service.pk %}">Reject</a>
<br>
{% include 'logout.html' %}
{% endblock %}